@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --gradient-0: rgba(22, 14, 158, 1);
  --gradient-25-75: rgba(0, 0, 0, 1);
  --gradient-50: rgba(0, 0, 3, 1);
  --gradient-100: rgba(144, 13, 156, 1);
}

html {
  background: #000;
  color: rgb(var(--foreground-rgb));
}
.main-section {
  background: linear-gradient(
    145deg,
    var(--gradient-0) 0%,
    var(--gradient-25-75) 25%,
    var(--gradient-50) 50%,
    var(--gradient-25-75) 75%,
    var(--gradient-100) 100%
  );
  min-height: 100dvh;
}

.side-section {
  background: linear-gradient(
    145deg,
    var(--gradient-0) 0%,
    var(--gradient-25-75) 15%,
    var(--gradient-50) 50%,
    var(--gradient-25-75) 85%,
    var(--gradient-100) 100%
  );
}

.rc-slider-track {
  background-color: rgb(59 130 246) !important;
  height: 10px;
}

.rc-slider-rail {
  height: 10px;
}

.rc-slider-handle {
  border: 2px solid rgb(59 130 246) !important;
  background-color: white !important;
  opacity: 1 !important; /* Opacity value ranges from 0 to 1 */
  height: 18px;
  width: 18px;
}

/* Hover effect for handler */
.rc-slider-handle:hover {
  border: 2px solid white !important;
  background-color: rgb(59 130 246) !important;
}

/* Active (pressed) effect for handler */
.rc-slider-handle:active {
  border: 2px solid white !important;
  background-color: rgb(59 130 246) !important;
}

.backface-hidden {
  backface-visibility: hidden;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear; /* Safari and older browsers */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
